body {
    background: black;
    padding: 1em;
}
.header {
    background: lightgray;
    padding: 1em;
}
.content {
    background: white;
    padding: 1em;
}
th {
    background: lightgray;
}
td, th {
    padding: 0.5em 1em;
}
