body {
    background: black;
}
.container {
    background: #343a40;
    margin: 2em auto;
}
.col-3 {
    background: lightgrey;
    padding: 2em;
}
.col-9 {
    background: white;
    padding: 2em;
}
h2 {
    margin-bottom: 0.5em;
}
th {
    background: lightgray;
}
