{% extends "layout.html" %}
{% block title %}Lisää sivu{% endblock %}
{% block content %}
<p>
    <a href="/courses">Kurssit</a> > <a href="/course/{{ course_id }}">{{ course_name }}</a> > Lisää sivu</p> 
<h2>Lisää sivu</h2>
<form method="POST">
    <p>
        Otsikko:<br>
        <input type="text" name="title" style="width:50%">
    </p>
    <p>
        Sisältö:<br>
        <textarea name="content" style="width:100%" rows=20></textarea>
    </p>
    <p>
        <input type="submit" value="Tallenna">
    </p>
</form>
{% endblock %}
