{% extends "layout.html" %}
{% block title %}Kurssi: {{course_name}}{% endblock %}
{% block content %}
<p><a href="/courses">Kurssit</a> > {{ course_name }}</p>
<h2>{{ course_name }}</h2>
<p>Kurssin opettaja: <b>{{ teacher_name }}</b></p>
<h3>Sivut</h3>
{% if not pages %}
<p>Tällä kurssilla ei ole sivuja.</p>
{% else %}
<ol>
{% for page in pages %}
    <li><a href="/course_page/{{ page[0] }}">{{ page[1] }}</a></li>
{% endfor %}
</ol>
{% endif %}
<a href="/course/{{ course_id }}/add_page">Lisää sivu</a> (vain opettaja)
{% endblock %}
