{% extends "layout.html" %}
{% block title %}Kurssi: {{ course_name }}{% endblock %}
{% block content %}
<p><a href="/courses">Kurssit</a> > <a href="/course/{{ course_id }}">{{ course_name }}</a> > {{ course_page_name }}</p>
<h2>{{ course_page_name }}</h2>
{{ course_page_content }}
<hr>
<h2>Tehtävät</h2>
<p>Tulossa. Alla olevat esimerkkilomakkeet eivät toimi.</p>
<p>
    <b>Kysymys?</b><br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
</p>
<p>
    <b>Kysymys?</b><br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
    <input type="checkbox"> Vaihtoehto<br>
</p>
<input type="submit">
{% endblock %}
