{% extends "layout.html" %}
{% block title %}Kurssit{% endblock %}
{% block side %}
    {% if session.is_teacher %}
    <b>Opettajan toiminnot</b><br>
    <a href="/add_course">Luo kurssi</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Kurssit</h2>
    {% if not course_list %}
    <p>Kursseja ei löydy.</p>
    {% else %}
    <table class="table table-hover">
        <tr>
            <th>Kurssi</th>
            <th>Opettaja</th>
            <th>Osallistujia</th>
        </tr>
        {% for course in course_list %}
        <tr>
            <td>
                <a href="/course/{{ course.course_id }}">{{ course.course_name }}</a>
            </td>
            <td>
                <a href="/profile/{{ course.teacher_id }}">{{ course.teacher_name }}</a>
            </td>
            <td style="text-align: center;">
                {{ course.participants_amount }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
