{% extends "layout.html" %}
{% block title %}Kurssi: {{course_name}}{% endblock %}
{% block side %}
    <b>Sivut</b>
    <br>
    {% if pages %}
    {% for page in pages %}
        <a href="/page/{{ page[0] }}">{{ page[1] }}</a><br>
    {% endfor %}
    {% else %}
    <em>Kurssilla ei ole sivuja.</em>
    {% endif %}
    <hr>
    <p>
        <b>Toiminnot</b>
        <br>
        {% if participant %}
        <a href="/course/{{ course_info.id }}/statistics/user/{{ session.user_id }}">Omat tilastot</a><br>
        <a href="/course/{{ course_info.id }}/leave">Poistu kurssilta</a>
        {% else %}
        <a href="/course/{{ course_info.id }}/join">Osallistu kurssille</a>
        {% endif %}
    </p>
    {% if session.is_teacher %}
    <p>
        <b>Opettajan toiminnot</b><br>
        <a href="/course/{{ course_info.id }}/add_page">Lisää sivu</a><br>
        <a href="/course/{{ course_info.id }}/participants">Osallistujat</a><br>
        <a href="/course/{{ course_info.id }}/statistics">Tilastot</a><br>
        <a href="/course/{{ course_info.id }}/delete">Poista kurssi</a>
    </p>
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        <a href="/courses">Kurssit</a> > {{ course_info.name }}
    </p>
    <h2>{{ course_info.name }}</h2>
    <p>
        Kurssin opettaja: <a href="/profile/{{ course_info.teacher_id }}">{{ course_info.teacher_name }}</a>
    </p>
    <p>
        <strong>
        {% if participant %}
        Olet kurssilla.
        {% else %}
        Et ole kurssilla.
        {% endif %}
        </strong>
    </p>
{% endblock %}
