{% extends "layout.html" %}
{% block title %}Muokkaa sivua{% endblock %}
{% block content %}
<p>
    <a href="/courses">Kurssit</a> > <a href="/course/{{ course_id }}">{{ course_name }}</a> > <a href="/page/{{ page_id }}">{{ page_title }}</a> > Muokkaa
</p>
<h2>Muokkaa sivua</h2>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
        Otsikko:<br>
        <input type="text" name="title" style="width:50%" value="{{ page_title }}" minlength="{{ title_min }}" maxlength="{{ title_max }}" required>
    </p>
    <p>
        Sisältö:<br>
        <textarea name="content" style="width:100%" rows=20 minlength="{{ content_min }}" maxlength="{{ content_max }}">{{ page_content }}</textarea>
    </p>
    
    <p>
        <input type="submit" value="Tallenna">
    </p>
</form>
{% endblock %}
